.site-container {
    max-width: 1080px;
    margin: 20px auto; //centraliza 
}

.heading {

    .heading-txt {
        color: orangered;
        margin-left: 15rem;
    }

    .heading-subtxt {
        margin-left: 17rem;
    }
}